RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/%2f
POSTGRES_URL=postgresql://user:1234@pg_timescaledb:5432/courses
CLICKHOUSE_URL=tcp://user:1234@clickhouse:9000/courses?dial_timeout=10s&read_timeout=20s0
LISTEN_SOCKET=0.0.0.0:3000
S2S_JWT_SECRET=s2s_jwt_secret
S2S_JWT_HOURS=8766 # 1year
B_SERVICE_BASE_URL=http://b_identity_service:3001/internal
FILES_MULTIPART_SIZE_LIMIT=53687091200 # 50GB (bytes)
PROCESSED_FILES_BASE_PATH=/app/noraw
RAW_FILES_BASE_PATH=/app/raw
STRIPE_API_SK=sk_test_
STRIPE_API_WHSEC=whsec_