RABBITMQ_URL=amqp://guest:guest@localhost:5672/%2f
POSTGRES_URL=postgresql://user:1234@localhost:5432/courses
CLICKHOUSE_URL=tcp://user:1234@localhost:9000/courses?dial_timeout=10s&read_timeout=20s
LISTEN_SOCKET=localhost:3000
S2S_JWT_SECRET=s2s_jwt_secret
S2S_JWT_HOURS=8766 # 1year
B_SERVICE_BASE_URL=http://localhost:3001/internal
CDN_SERVICE_BASE_URL=http://localhost:8080
FILES_MULTIPART_SIZE_LIMIT=53687091200 # 50GB (bytes)
PROCESSED_FILES_BASE_PATH=../C_media_service/test
RAW_FILES_BASE_PATH=../C_media_service/raw
STRIPE_API_SK=sk_test_
STRIPE_API_WHSEC=whsec_
IP_INFO_IO_TOKEN=ioufhwoeirfhwe
TYPESENSE_URL=http://localhost:8108
TYPESENSE_API_KEY=xyz
TYPESENSE_SYSTEM_PROMPT_MAX_FACET_VALUES=15
TYPESENSE_SYSTEM_PROMPT_REFRESH_INTERVAL=25 #Minutes
TYPESENSE_NL_QUERY_MAX_MS=10000
GATEWAY_IA_SERACH_BASE_URL=http://localhost:3003
