RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/%2f
POSTGRES_URL=postgresql://user:1234@pg_timescaledb:5432/courses
REDIS_URL=redis://redis:6379
LISTEN_SOCKET=0.0.0.0:3001
JWT_ACCESS_SECRET=secret_access_token
JWT_ACCESS_HOURS=2
JWT_REFRESH_SECRET=secret_refresh_token
JWT_REFRESH_HOURS=168 # 1week
JWT_DOMAIN=localhost # frontend domain (refresh token cookie domain)
S2S_JWT_SECRET=s2s_jwt_secret
S2S_JWT_HOURS=8766 # 1year
STRIPE_API_SK=sk_test_